.width{
    max-width: 940px;
}

.inside{
    z-index: -1;
}
.outside{
    z-index: 1;
}
.frontpage{
    padding-top: 48px;
    padding-bottom: 48px;
}
.frontBack{
    margin: 0px auto;
    background-position: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.box-shadow{
    box-shadow: 0px 0px 32px -19px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 32px -19px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 32px -19px rgba(0,0,0,1);
}

.max-height-drop {
    max-height: 200px;
  }

  .clip{
    clip-path: polygon(100% 0, 100% 49%, 0 78%, 0 0);
  }
  .service-card-clip{
    /* clip-path: circle(30.7% at 100% 0); */
    clip-path: circle(20.2% at 100% 0);  }
  .clip-full:hover .service-card-clip{
    clip-path: circle(141.4% at 100% 0);
  }
  ul{
    list-style:circle;
    list-style-position: outside;
  }